# Python
.venv/

# Secrets
terraform/terraform.tfvars
.env

# Tofu/Terraform state
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Ansible
ansible/*.retry
